<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>enableTweak</string>
				<key>label</key>
				<string>Enable</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Target Username</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Username</string>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>targetUsername</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Modifying the Target User</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>label</key>
				<string>Spoof Verified</string>
				<key>key</key>
				<string>spoofVerified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>New Profile Picture URL</string>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>newProfilePictureURL</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>New Username</string>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>newUsername</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>New Full Name</string>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>newFullName</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>Configure Messages</string>
				<key>detail</key>
				<string>LCTTMessagesController</string>
				<key>isController</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>label</key>
				<string>Show Seen</string>
				<key>key</key>
				<string>showSeen</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>action</key>
				<string>shatterThePrefsToPieces</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Reset Preferences</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>2021 © Luki120</string>
				<key>isStaticText</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>LCTT</string>
	</dict>
</plist>