<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>enableTweak</string>
				<key>label</key>
				<string>Enable</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>placeholder</key>
				<string>Incoming Text</string>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>incomingTextDM</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>placeholder</key>
				<string>Outgoing Text</string>
				<key>defaults</key>
				<string>me.luki.runtimeoverflow.lcttprefs</string>
				<key>key</key>
				<string>outgoingTextDM</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>2021 © Luki120</string>
				<key>isStaticText</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>LCTT</string>
	</dict>
</plist>